[submodule "themes/somrat"]
	path = themes/somrat
	url = https://github.com/Somrat37/somrat.git
[submodule "themes/hugo-devresume-theme"]
	path = themes/hugo-devresume-theme
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
